.intro__bike-name-container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 200px;
}

@media (max-width: 1280px) {
  .intro__bike-name-container {
    margin-bottom: 45px;
}
}

@media (max-width: 768px) {
  .intro__bike-name-container {
   display: none;
}
}
