.btn {
  box-sizing: border-box;
  display: flex;
  gap: 8px; /* тогда не нужен элемент arrow и любые другие для паддинга*/
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: none;
  text-decoration: none;
  border-radius: 26px;
  min-height: 40px;
  cursor: pointer;
}

.btn:disabled {
  color: #96949E;
  background-color: #FFFFFF;
  /* border-color: transparent; */
  border: 2px solid #96949E;
  /* background-color: #FFFFFF; */
  cursor: default;
}

.btn:disabled:hover {
  color: #96949E;
  background-color: #EBE9ED;
  border-color: transparent;
  cursor: default;
}

@media (max-width: 768px){
  .btn {
    padding: 12px 20px;
  }
}
