@use "../../scss/variables" as *;

.btn {
  box-sizing: border-box;
  display: flex;
  gap: 8px; /* тогда не нужен элемент arrow и любые другие для паддинга*/
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: none;
  text-decoration: none;
  border-radius: 26px;
  min-height: 40px;
  cursor: pointer;
}

.btn:disabled {
  color: $grey;
  background-color: $white;
  /* border-color: transparent; */
  border: 2px solid $grey;
  cursor: default;
}

.btn:disabled:hover {
  color: $grey;
  background-color: $grey;
  border-color: transparent;
  cursor: default;
}

@media (max-width: 768px) {
  .btn {
    padding: 12px 20px;
  }
}
