.title {
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
  margin: 0;
}

@media (max-width: 1280px) {
  .title {
    font-size: calc(32px + (55 - 32) * ((100vw - 320px) / (1440 - 320)));
}
}

@media (max-width: 320px) {
  .title {
  font-size: 32px;
  line-height: 40px;
}
}
