.header__burger-dash {
  position: absolute;
  left: 0;
  height: 3px;
  width: 22px;
  background-color: #151515;
  transition: transform .5s ease;
}

.header__burger-dash:nth-child(1) {
  transform: translateY(-10px);
}

.header__burger-dash:nth-child(3) {
  transform: translateY(10px);
}
