.btn_type_bordered {
  color: #3B3748;
  background-color: transparent;
  border: 2px solid #3B3748;
  padding: 10px 22px; /* в макете посчитали с учетом bordera 2px*/
}

.btn_type_bordered:hover {
  color: #5100B8;
  border-color: #5100B8;
}

.btn_type_bordered:active {
  color: #3B3748;
  border-color: #3B3748;
}

@media (max-width: 768px){
  .btn_type_bordered {
    padding: 10px 18px;
  }
}
