@use "../../../scss/variables" as *;

.btn_type_bordered {
  color: $dark-grey;
  background-color: transparent;
  border: 2px solid $dark-grey;
  padding: 10px 22px; /* в макете посчитали с учетом bordera 2px*/
}

.btn_type_bordered:hover {
  color: $indigo;
  border-color: $indigo;
}

.btn_type_bordered:active {
  color: $dark-grey;
  border-color: $dark-grey;
}

@media (max-width: 768px) {
  .btn_type_bordered {
    padding: 10px 18px;
  }
}
