@use "../../../scss/variables" as *;

.btn_type_non-bordered {
  color: $dark-grey;
  background-color: transparent;
}

.btn_type_non-bordered:hover {
  color: $indigo;
}

.btn_type_non-bordered:active {
  color: $dark-grey;
}
